force-app/main/default/flows/Contact90DaysSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>laptopSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sumAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>accSum</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>sumAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>asset sum</description>
        <name>sumAsset</name>
        <label>sumAsset</label>
        <locationX>528</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>$Record.Laptop_Purchase_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>laptopSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accessory_Purchase_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accSum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>528</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>sumAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>laptop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysUpdate.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>laptop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>laptop</label>
        </rules>
        <rules>
            <name>acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysUpdate.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>acc</label>
        </rules>
    </decisions>
    <description>Purchase amount renewed daily for 90 days</description>
    <environments>Default</environments>
    <formulas>
        <name>daysNums</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>find90Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <formulas>
        <name>find90Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <formulas>
        <name>find90DaysItems</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <formulas>
        <name>sum90Laptop</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <formulas>
        <name>sumLaptop</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <interviewLabel>Contact90DaysSch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact90DaysSchedule</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>daysUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>daysUpdate</name>
        <label>daysUpdate</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>find90Day</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputAssignments>
            <field>Accessory_Purchase_Amount__c</field>
            <value>
                <elementReference>accSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Laptop_Purchase_Amount__c</field>
            <value>
                <elementReference>laptopSum</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>daysUpdate</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-22</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>aaa</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>laptopSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
