force-app/main/default/flows/Monthly_Contact_Rank_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>Currency0</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Currency1</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>krwARankCriteria</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>5000000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>krwBRankCriteria</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>2000000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>usdARankCriteria</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>usdBRankCriteria</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>2000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Currency_Decision</name>
        <label>Currency Decision</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>X010_Input_D_Rank_for_No_CurrencyIsoCode_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNullCurrencyIsoCode</defaultConnectorLabel>
        <rules>
            <name>isUSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X010_USD_A_Rank</targetReference>
            </connector>
            <label>isUSD</label>
        </rules>
        <rules>
            <name>isKRW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X010_KRW_A_Rank</targetReference>
            </connector>
            <label>isKRW</label>
        </rules>
    </decisions>
    <decisions>
        <description>월마다 동작하기 위한 일자 체크</description>
        <name>X010_Check_the_Date_for_Monthly</name>
        <label>Check the Date for Monthly</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not the Day</defaultConnectorLabel>
        <rules>
            <name>monthUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TodayDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>26.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_Decision</targetReference>
            </connector>
            <label>monthUpdate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDay</name>
        <dataType>Number</dataType>
        <expression>DAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Monthly Contact Rank Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monthly Contact Rank Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>X010_Input_D_Rank_for_No_CurrencyIsoCode_Contact</name>
        <label>010 Input D Rank for No CurrencyIsoCode Contact</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X010_KRW_A_Rank</name>
        <label>010 KRW A Rank</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>X020_KRW_B_Rack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>krwARankCriteria</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X010_USD_A_Rank</name>
        <label>010 USD A Rank</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>X020_USD_B_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>usdARankCriteria</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X020_KRW_B_Rack</name>
        <label>020 KRW B Rack</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>X030_KRW_C_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>krwARankCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>krwBRankCriteria</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X020_USD_B_Rank</name>
        <label>020 USD B Rank</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>X030_USD_C_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>usdARankCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>usdBRankCriteria</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X030_KRW_C_Rank</name>
        <label>030 KRW C Rank</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>X040_KRW_D_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>krwBRankCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Currency1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X030_USD_C_Rank</name>
        <label>030 USD C Rank</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>X040_USD_D_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>usdBRankCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Currency1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X040_KRW_D_Rank</name>
        <label>040 KRW D Rank</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Currency0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X040_USD_D_Rank</name>
        <label>040 USD D Rank</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Currency0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X010_Check_the_Date_for_Monthly</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-24</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
