force-app/main/default/flows/Order_Record_Trigger_When_Status_is_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>X040Check_Asset_count_is_0</name>
        <label>040Check Asset count is 0</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X031_Check_Related_Asset_Count_for_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X050Related_Contact_Change_to_purchased_and_Change_Puchase_Account_to_Empty</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <description>주문의 상태가 환불이 됐을때 작동되는 레코드 트리거
피드백 수용 -&gt; ApexAction을 GetRecord로 대체
(GetRecord Null Check 방식이 안되는줄 알았는데 다시 해보니깐 됨)</description>
    <environments>Default</environments>
    <interviewLabel>Order Record Trigger When Status is Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Trigger When Status is Refund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>X031_Check_Related_Asset_Count_for_Contact</name>
        <label>031 Check Related Asset Count for Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X040Check_Asset_count_is_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Refund_availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>X020Related_Asset_Change_to_non_purchased</name>
        <label>020Related Asset Change to non-purchased</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>X031_Check_Related_Asset_Count_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refund_availability__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>상담고객으로 업데이트</description>
        <name>X050Related_Contact_Change_to_purchased_and_Change_Puchase_Account_to_Empty</name>
        <label>050Related Contact Change to purchased and Change Puchase Account to Empty</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>purchased</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchasing_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>not-purchased</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X020Related_Asset_Change_to_non_purchased</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
