force-app/main/default/flows/Send_Email_for_Case_Like_India.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailForClose</name>
        <label>EmailForClose</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case {!$Record.CaseNumber} 처리가 완료되었습니다.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TemplateForClose</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailForOpen</name>
        <label>EmailForOpen</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case {!$Record.CaseNumber}가 접수되었습니다.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TemplateForOpen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailForOpen</targetReference>
            </connector>
            <label>OpenCase</label>
        </rules>
        <rules>
            <name>CloseCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailForClose</targetReference>
            </connector>
            <label>CloseCase</label>
        </rules>
    </decisions>
    <description>인도식 메일 발송 법</description>
    <environments>Default</environments>
    <interviewLabel>Send Email for Case Like India {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email for Case Like India</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>TemplateForClose</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;안녕하세요.&lt;/p&gt;&lt;p&gt;요청하신 &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;건에 대한 VoC 처리가 완료 되었습니다.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;해당 VoC에 대한 정보는 다음과 같습니다.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 대상 제품&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Asset__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 사유&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Reason}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 내용&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Description}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 완료일자&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.ClosedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.CompanyName}는 항상 고객님의 만족을 위해 노력하겠습니다.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;감사합니다.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$System.OriginDateTime}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateForOpen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;안녕하세요.&lt;/p&gt;&lt;p&gt;요청하신 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;건에 대한 VoC가 접수되었습니다.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;해당 VoC에 대한 정보는 다음과 같습니다.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 대상 제품&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Asset__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 사유&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Reason}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VoC 내용&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;VoC 처리가 진행되면 메일을 통해 알려드리겠습니다.&lt;/p&gt;&lt;p&gt;감사합니다.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$System.OriginDateTime}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
